
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Project Blitzkrieg</h1>
    <p class="lead">Distributed, scalable and extremely easy to use game decision engine based on Monte-Carlo Tree Search algorithm.</p>
    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Play", "ChessGame")" role="button">Try the demo!</a></p>
</div>

<div class="row marketing">

    <div class="row text-center">
        <div class="col-md-4">
            <p><i class="fa fa-bolt fa-4x"></i></p>
            <h3>Rapid setup</h3>
            <p>The setup of Blitzkrieg solution should not take longer than 20 minutes.</p>
        </div>
        <div class="col-md-4">
            <p><i class="fa fa-balance-scale fa-4x"></i></p>
            <h3>Scalable by design</h3>
            <p>You can adjust the computing power of Blitzkrieg on the fly.</p>
        </div>
        <div class="col-md-4">
            <p><i class="fa fa-smile-o fa-4x"></i></p>
            <h3>Easy to use</h3>
            <p>All functions are wrapped in modern webpage UI and well-designed HTTP API.</p>
        </div>
    </div>
</div>